<div
  class="container-fluid d-flex justify-content-center align-items-center flex-column vh-100 gap-4 pt-2 pb-5"
>
  <h1 class="c-blue">Login</h1>
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <form [formGroup]="loginFrom">
      <!--border p-4 shadow rounded-->
      <!--username input-->
      <div class="form-group mb-3">
        <label for="email" class="mb-2 ms-4">Email</label>

        <input
          type="text"
          class="form-control input_field"
          formControlName="email"
          placeholder="Enter email"
        />
        <div
          *ngIf="
            this.loginFrom.get('email')?.invalid &&
            this.loginFrom.get('email')?.dirty
          "
          class="text-danger ms-4 mt-2 fw-bold"
        >
          *username is invalid
        </div>
      </div>
      <!--password input-->
      <div class="form-group mb-3">
        <label for="password" class="mb-2 ms-4">Password</label>
        <input
          type="password"
          class="form-control input_field"
          formControlName="password"
          placeholder="Enter password"
        />
      </div>
      <small class="text-danger ms-4 fw-bold" *ngIf="error_message"
        >*{{ error_message }}</small
      >

      <div class="d-flex flex-column align-items-center gap-2 mt-5">
        <button
          type="button"
          class="btn b-blue w-25 text-light input_field"
          (click)="Login()"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-link c-blue"
          (click)="goToRegister()"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
